---
layout: base.njk
title: Not Found
permalink: /404.html
---
<article class="prose">
  <h1>Not found</h1>
  <p>That page isn't here. Try the <a href="/">homepage</a> or the
  <a href="/programming/">programming section</a>.</p>
</article>
