---
layout: base.njk
title: Projects
permalink: /projects/
description: Things I'm building.
---
<article class="prose">
  <h1>Projects</h1>

  <ul class="project-list">
    <li>
      <h2><a href="https://jpzer0.itch.io/wba">Wizard Battle Arena</a></h2>
    </li>
    <li>
      <h2><a href="https://jpzer0.itch.io/sfm">Space Fleet Manager</a></h2>
      <p>Playable on itch.io.</p>
    </li>
  </ul>
</article>
